* {
  font-family: Iosevka;
  font-size: 12pt;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background: #1b182c;
  opacity: 0.85;
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu,
#tray {
  padding-left: 1rem;
  padding-right: 1rem;
}

#custom-weather {
  padding-left: 2rem;
  font-weight: bold;
}

#workspaces {
  background: #962a54;
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
}

#workspaces button {
  background: transparent;
}

#workspaces button.focused {
  background: #7a2043;
  border-radius: 1rem;
}

#tray menu {
  background-color: #1b182c;
  color: #d8cab8;
  padding: 4px;
}

#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);
  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}

#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}